@import url('https://fonts.googleapis.com/css2? family= Anton & family= Archivo+Black & family= Archivo:wght@100 & family= Roboto:wght@100;400 & display= troca');

/*Códigos utilizados para a página inicial*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 100%;
  background: #FFFFFF;
  background: linear-gradient(116.82deg, #FFFFFF 0%, #FAFAFA 13.01%, #DAA4AC 100%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #C1707B;
}

.img-icon {
  height: 72px;
}

.cabecalho h3{
  color: #FFFFFF;
  font-size: 20px;
}

.datetime{
  color: #FFFFFF;
}

.img-sair img{
  height: 42px;
  cursor: pointer;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}
  
.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
  
.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
  
.conteudo-principal-escrito-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 64px;
  color: #440A07;
}

.conteudo-principal-escrito-titulo span {
  color:#7F3E3B;
  font-weight: 800;
}

.conteudo-principal-imagem {
  height: 630px;
}

/*Conteúdo da sessão "O que nossa empresa faz por você?"*/

.conteudo-principal2 {
  border-top: 0.4px solid #7F3E3B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
  
.conteudo-principal2-escrito {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
  
.conteudo-principal2-escrito-titulo {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: #440A07;
  text-align: center;
}

.conteudo-principal2-escrito-titulo span{
  color: #672f2c;
}

.conteudo-secundario2-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #7F3E3B;
  text-align:justify;
}

.text-end {
  font-family: 'Sarala', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #7F3E3B;
  text-align: center;
}


.conteudo-principal2-imagem {
  height: 530px;
}
  
.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}
  
.conteudo-secundario-titulo {
  border-top: 0.4px solid #7F3E3B;
  padding-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #7F3E3B;
  margin-bottom: 2px;
}

.form h2{
  width: 50vw;
  border-top: 0.4px solid #7F3E3B;
  padding-top: 15px;
  font-size: 30px;
  color: #7F3E3B;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.form  {
  font-size: 20px;
  color: #7F3E3B;
  font-weight: 700;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form select {
  width: 13vw;
  height: 5vh;
  background-color: #b67680;
  outline: none;
  color: seashell;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
}

#bt{
  background-color: #b3627b;
  width: 40%;
  padding: 5px;
  outline: none;
  color: seashell;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  margin-top: 8px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  transition: all .4s ease;
}

#bt:hover{
  background: #DAA4AC;
  text-shadow: none;
  box-shadow: 0 0 20px #CCBBFF;
}

.rodape{
  padding: 32px;
  border-top: 0.4px solid #F9FFFB;
  background-color: #ab5a65;
}

.rodape-imagem{
  height: 58px;
  display: block;
  margin: 0 auto;
}

.rodape h3{
  text-align: center;
  color: #FFFFFF;
}
